/Sistema-Academico/nbproject/private/
/Conversor-de-Temperatura/nbproject/private/
/Hello-Swing/nbproject/private/
/Hello-Swing/build/
/Hello-Swing/dist/
/Conversor-de-Temperatura/build/
/Conversor-de-Temperatura/dist/
/LoginTela/nbproject/private/
/Sistema_Academico/nbproject/private/
